Öncelikle verimizi okumamız gerekiyor.

Veriyi colaba direkt olarak attim suanlik calismak icin

In [ ]:
import pandas as pd
data1 = pd.read_csv ('/content/convertcsv.csv')
data1

  ingilizcesi  ... ekbilgiler
0       phase  ...        NaN
1        raw   ...        NaN
2      enrich  ...        NaN

[3 rows x 5 columns]

veriyi nasıl okuyacagımızı öğrenmek için pandas komutlarına bir bakalım

In [ ]:
#bu şekilde sütunları okuyabildik
data1["ingilizcesi"]

0     phase
1      raw
2    enrich
3         I
Name: ingilizcesi, dtype: object

In [ ]:
#böyle daha spesifik ihtiyaçlara erişebiliyoruz
data1["ingilizcesi"][0]

'phase'

Veriye burdan yeni satırlar ekleyebilmeyi deniyelim ufak bir google araştırması yapalım

In [ ]:
data = [
    ['I', 'ben', 'I can do it.','Ben yapabilirim.','zamirdir'],
]
dataframe = pd.DataFrame(data)
dataframe.to_csv("convertcsv.csv", index=False, mode='a', header=False)

In [ ]:
data1 = pd.read_csv ('/content/convertcsv.csv')
data1

  ingilizcesi  ... ekbilgiler
0       phase  ...        NaN
1        raw   ...        NaN
2      enrich  ...        NaN
3           I  ...   zamirdir

[4 rows x 5 columns]

gayette güzel ekleyebildik gibi duruyor

ekleme işini daha kullanışlı hale getirmeye çalışalım

In [ ]:
def ekleme():
  x1 = input("İngilizcesini giriniz:")
  x2 = input("Türkçesini giriniz:")
  x3 = input("İngilizce cümlesini giriniz:")
  x4 = input("Türkçesi cümlesini giriniz:")
  x5 = input("Ek bilgi varsa giriniz yoksa - şareti bırakbilirsiniz")
  data = [
          [x1,x2,x3,x4,x5]
         ]
  dataframe = pd.DataFrame(data)
  dataframe.to_csv("convertcsv.csv", index=False, mode='a', header=False)

In [ ]:
ekleme()

İngilizcesini giriniz:you
Türkçesini giriniz:sen
İngilizce cümlesini giriniz:I love you.
Türkçesi cümlesini giriniz:Seni seviyorum.
Ek bilgi varsa giriniz yoksa - şareti bırakbilirsinizZamir

Kontrol edelim

In [ ]:
data1 = pd.read_csv ('/content/convertcsv.csv')
data1

  ingilizcesi  ... ekbilgiler
0       phase  ...        NaN
1        raw   ...        NaN
2      enrich  ...        NaN
3           I  ...   zamirdir
4         you  ...      Zamir

[5 rows x 5 columns]