Bir onceki notebookta gelisi guzel sekilde bisiler ogrenmeye calisip hizlica bir tane calisan programi yapmistik simdi tekrar ederek yeni seyler eklemeye calisalim.

Verimizi tekrar okuyalim

In [51]:
import pandas as pd
data1 = pd.read_csv ('/content/convertcsv.csv')
data1

  ingilizcesi  ... ekbilgiler
0       phase  ...        NaN
1        raw   ...        NaN
2      enrich  ...        NaN

[3 rows x 5 columns]

Yeni veri girisi icin yazmis oldugumuz onceki notebooktaki fonksiyonu burayada yazalim. Bu fonksiyon yeni satirlar eklememizi saglar

In [52]:
def ekleme():
  x1 = input("İngilizcesini giriniz:")
  x2 = input("Türkçesini giriniz:")
  x3 = input("İngilizce cümlesini giriniz:")
  x4 = input("Türkçesi cümlesini giriniz:")
  x5 = input("Ek bilgi varsa giriniz yoksa - şareti bırakbilirsiniz")
  data = [
          [x1,x2,x3,x4,x5]
         ]
  dataframe = pd.DataFrame(data)
  dataframe.to_csv("convertcsv.csv", index=False, mode='a', header=False)

In [53]:
index_list = []
import random
def index_generator():
  global index_list
  index_list = []
  i = 0
  while i < 3 :  
    index = random.randint(0,len(data1)-1)
    if index not in index_list :
      index_list.append(index)
      i+=1
  return index_list

Simdi verimize bir sutun daha eklemeyi ve bu sutunda kelimenin dogru ceavpla bilindiginde +x ,yanlis bilindiginde -x seklinde kelime performansini tutacak bir veri istiyorum.

Nasil yeni sutun eklenir bakalim.
Google dan buldugumu ornek uzerinden deneyelim hizlica.
https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/

In [54]:
address = ['Delhi', 'Bangalore', 'Chennai']
 
data1['Address'] = address
data1

  ingilizcesi                      türkçesi  ... ekbilgiler    Address
0       phase                faz/aşama/evre  ...        NaN      Delhi
1        raw                    işlenmemiş   ...        NaN  Bangalore
2      enrich  zenginleştirmek/değer-katmak  ...        NaN    Chennai

[3 rows x 6 columns]

evet eklemis olduk bunu fonksiyon haline getirmeden once deneme amacli ekledigimiz sutunu silmeyide ogrenelim ileride lazim olabilir.
Sitemizdeki ornekten inceleyip bulabiliriz.https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [55]:
data1 = data1.drop(columns=['Address'])
data1

  ingilizcesi  ... ekbilgiler
0       phase  ...        NaN
1        raw   ...        NaN
2      enrich  ...        NaN

[3 rows x 5 columns]

Evet bu metod ile sutunu kaldirabiliyormusun bunuda ogrenmis olduk.

Sutun isimlerimizi degistrmeyi deniyelim bizlere lazim olabilirler. Yine pandasin dokumantasyonundan bakalim. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

Cesitli yollari var bir tanesini deniyelim

In [57]:
data1 = data1.rename(columns={"ingilizcesi": "ingilizce",
                              "türkçesi": "turkce",
                              "ingilizce cüme": "ingilizce_cumle",
                              "türkçesi.1" : "turkce_cumle",
                             "ekbilgiler" : "ekbilgi"})
data1

  ingilizce  ... ekbilgi
0     phase  ...     NaN
1      raw   ...     NaN
2    enrich  ...     NaN

[3 rows x 5 columns]

### Sutun ekleme

her satir icin default olarak 0 degerini girmesini istememiz bizim icin gayet iyi olacaktir. once kac satirimiz var ona bakalim

In [58]:
#bu bize son hangi index oldugunu soyleyecektir bunun 1 fazlasi bizim toplam satir sayimizi verecektir
son_index = data1.last_valid_index()
son_index

2

In [59]:
puan = [] #her satir icin puanlari bu listeye ekelyecegiz
adim = 0
while adim <= son_index: #0 dan son indexe kadar her satir icin 0 ekledik
  puan.append(0)
  adim +=1 

data1['puan'] = puan
data1

  ingilizce                        turkce  ... ekbilgi puan
0     phase                faz/aşama/evre  ...     NaN    0
1      raw                    işlenmemiş   ...     NaN    0
2    enrich  zenginleştirmek/değer-katmak  ...     NaN    0

[3 rows x 6 columns]

her satir icin 0 ekleyerek bir puan sutunu olsuturmus olduk bunu bir fonksiyonun icine almamiza gerek yok cunki surekli yapmak istedigimiz bir islem degil satir eklemenin aksine

## Toparlayalim

Yeni bir sutun ekledigimiz icin satir ekleme fonksiyonunu da duzenleyelim.

puan sutunumuzdaki verinin tipine bakalim lazim olacaktir bizlere.

In [60]:
data1

  ingilizce                        turkce  ... ekbilgi puan
0     phase                faz/aşama/evre  ...     NaN    0
1      raw                    işlenmemiş   ...     NaN    0
2    enrich  zenginleştirmek/değer-katmak  ...     NaN    0

[3 rows x 6 columns]

In [61]:
len(data1)

3

In [62]:
data1['puan'][0].dtype

dtype('int64')

yeni ekleme fonksiyonumuz bu sekilde olucak

In [69]:
def ekleme():
  x1 = input("İngilizcesini giriniz:")
  x2 = input("Türkçesini giriniz:")
  x3 = input("İngilizce cümlesini giriniz:")
  x4 = input("Türkçesi cümlesini giriniz:")
  x5 = input("Ek bilgi varsa giriniz yoksa - şareti bırakbilirsiniz")
  #x6 bizim puan sutnumuz boylece her yeni satirda puan 0 olarak baslayacaktir
  x6 = 0
  
  global data1
  
  data1 = data1.append({'ingilizce' : x1,
                    'turkce' : x2,
                    "ingilizce_cumle" : x3 ,
                    "turkce_cumle" : x4 ,
                    "ekbilgi" : x5 ,
                    "puan" : x6} , 
                    ignore_index=True)

In [70]:
ekleme()

İngilizcesini giriniz:a
Türkçesini giriniz:b
İngilizce cümlesini giriniz:c
Türkçesi cümlesini giriniz:d
Ek bilgi varsa giriniz yoksa - şareti bırakbilirsinize

In [71]:
data1

  ingilizce                        turkce  ... ekbilgi puan
0     phase                faz/aşama/evre  ...     NaN    0
1      raw                    işlenmemiş   ...     NaN    0
2    enrich  zenginleştirmek/değer-katmak  ...     NaN    0
3         a                             b  ...       e    0

[4 rows x 6 columns]

denememizi yaptik simdi

Simdi programimiza ekledigimiz puan sutununu aktif hale getirmeye calisalim

## Puanlamayi ekleyelim

bunu fonksiyon seklinde yapmayi deneyleim ki daha duzenli olsun

In [75]:
data1["puan"]

0    0
1    0
2    0
3    0
Name: puan, dtype: int64

In [77]:
def puan_arttir(secim) :
  global data1
  data1["puan"][secim] += 1

def puan_azalt(secim) :
  global data1 
  data1["puan"][secim] -= 1

Bir onceki notebooktaki olusturmus oldugumuz ana programi tekrar alalim buraya ve degistirdigimiz sutun isimlerini uyarlayalim

Programa ekleyelim ve deneyelim

In [78]:
tahmin_sayisi = int(input("Kac tahminde bulmak isterdiginizi giriniz: "))
mevcut_tahmin = 0

print("************************************************************a")
while tahmin_sayisi > mevcut_tahmin :
  print("--------------------------------------------------------")
  
  #once index_generator calistiriyoruz ki rastgele secilen secim degeri ile ayni degerde olmasin
  #ayrica eger secim degerini daha sonra listeye eklemezisek tum degerleri fonsiyondan alirsak dogru cevabimiz siklarda olmaz
  index_generator()
  secim = random.randint(0,len(data1)-1)
  #eger secim degeri fonksiyon tarafindan zaten alindiysa int olarak yeni bir secim degeri yapmaliyiz yoksa secenekler ayni olur
  
  while secim in index_list:
      secim = random.randint(0,len(data1)-1)
  index_list.append(secim)
  
  #ayrica listeyi karistirmaliyiz ki hep ayni secenekte dogru cevap olmasin
  random.shuffle(index_list)

  
  ingilizce = data1["ingilizce"][secim]
  print("Kelimenin Turkcesi hangi secenektedir:", ingilizce)
  turkcesi = str(data1["turkce"][secim])

  #secenekler
  a = str(data1["turkce"][index_list[0]])
  b = str(data1["turkce"][index_list[1]])
  c = str(data1["turkce"][index_list[2]])
  d = str(data1["turkce"][index_list[3]])

  print("A Secenegi: ",a)
  print("B Secenegi: ",b)
  print("C Secenegi: ",c)
  print("D Secenegi: ",d)

  tahmin = input("Cevabiniz(A/B/C/D): ")
  
  if tahmin == "a":
    tahmin_str = a

  if tahmin == "b":
    tahmin_str = b

  if tahmin == "c":
    tahmin_str = c

  if tahmin == "d":
    tahmin_str = d
  
  if tahmin_str == turkcesi :
    print("Dogru cevap tebrikler")
    puan_arttir(secim= secim)

  else :
    print("Yanlis cevap bi sonraki soruya gecelim")
    puan_azalt(secim= secim)
  mevcut_tahmin+= 1
  print("--------------------------------------------------------")

Kac tahminde bulmak isterdiginizi giriniz: 2
************************************************************a
--------------------------------------------------------
Kelimenin Turkcesi hangi secenektedir: raw
A Secenegi:  işlenmemiş
B Secenegi:  zenginleştirmek/değer-katmak
C Secenegi:  b
D Secenegi:  faz/aşama/evre
Cevabiniz(A/B/C/D): a

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Dogru cevap tebrikler
--------------------------------------------------------
--------------------------------------------------------
Kelimenin Turkcesi hangi secenektedir: phase
A Secenegi:  b
B Secenegi:  işlenmemiş
C Secenegi:  zenginleştirmek/değer-katmak
D Secenegi:  faz/aşama/evre
Cevabiniz(A/B/C/D): a
Yanlis cevap bi sonraki soruya gecelim
--------------------------------------------------------

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

kontrol edelim

In [79]:
data1

  ingilizce                        turkce  ... ekbilgi puan
0     phase                faz/aşama/evre  ...     NaN   -1
1      raw                    işlenmemiş   ...     NaN    1
2    enrich  zenginleştirmek/değer-katmak  ...     NaN    0
3         a                             b  ...       e    0

[4 rows x 6 columns]

goruldugu gibi dogru ve yanlis cevapta puanlama degismis

### Main fonksiyonu

prgramin icin bir tane ana fonksiyon yazalim ki  her seferinde tekrar kodla ugrasmayalim

In [80]:
def main ():

  tahmin_sayisi = int(input("Kac tahminde bulmak isterdiginizi giriniz: "))
  mevcut_tahmin = 0

  print("************************************************************a")
  while tahmin_sayisi > mevcut_tahmin :
    print("--------------------------------------------------------")
  
  #once index_generator calistiriyoruz ki rastgele secilen secim degeri ile ayni degerde olmasin
  #ayrica eger secim degerini daha sonra listeye eklemezisek tum degerleri fonsiyondan alirsak dogru cevabimiz siklarda olmaz
    index_generator()
    secim = random.randint(0,len(data1)-1)
  #eger secim degeri fonksiyon tarafindan zaten alindiysa int olarak yeni bir secim degeri yapmaliyiz yoksa secenekler ayni olur
  
    while secim in index_list:
        secim = random.randint(0,len(data1)-1)
    index_list.append(secim)
  
  #ayrica listeyi karistirmaliyiz ki hep ayni secenekte dogru cevap olmasin
    random.shuffle(index_list)

  
    ingilizce = data1["ingilizce"][secim]
    print("Kelimenin Turkcesi hangi secenektedir:", ingilizce)
    turkcesi = str(data1["turkce"][secim])

  #secenekler
    a = str(data1["turkce"][index_list[0]])
    b = str(data1["turkce"][index_list[1]])
    c = str(data1["turkce"][index_list[2]])
    d = str(data1["turkce"][index_list[3]])

    print("A Secenegi: ",a)
    print("B Secenegi: ",b)
    print("C Secenegi: ",c)
    print("D Secenegi: ",d)

    tahmin = input("Cevabiniz(A/B/C/D): ")
  
    if tahmin == "a":
      tahmin_str = a

    if tahmin == "b":
      tahmin_str = b

    if tahmin == "c":
      tahmin_str = c

    if tahmin == "d":
      tahmin_str = d
  
    if tahmin_str == turkcesi :
      print("Dogru cevap tebrikler")
      puan_arttir(secim= secim)

    else :
      print("Yanlis cevap bi sonraki soruya gecelim")
      puan_azalt(secim= secim)
    mevcut_tahmin+= 1
    print("--------------------------------------------------------")

deneyelim

In [81]:
main()

Kac tahminde bulmak isterdiginizi giriniz: 1
************************************************************a
--------------------------------------------------------
Kelimenin Turkcesi hangi secenektedir: phase
A Secenegi:  faz/aşama/evre
B Secenegi:  b
C Secenegi:  işlenmemiş
D Secenegi:  zenginleştirmek/değer-katmak
Cevabiniz(A/B/C/D): a
Dogru cevap tebrikler
--------------------------------------------------------

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

goruldugu gibi basit bir main fonksiyonuyla cagirabiliyoruz

Simdi calsitigimiz dataframi csv olarak kaydetmeye bakalim

In [84]:
data1.to_csv("yeni_data.csv", index=False, header=True)

tekrar csv dosyasini okuyalim

In [85]:
yeni_data = pd.read_csv ('/content/yeni_data.csv')
yeni_data

  ingilizce                        turkce  ... ekbilgi puan
0     phase                faz/aşama/evre  ...     NaN    0
1      raw                    işlenmemiş   ...     NaN    1
2    enrich  zenginleştirmek/değer-katmak  ...     NaN    0
3         a                             b  ...       e    0

[4 rows x 6 columns]

Neler yaptik 

* Puan sutunu ekleyip puan sistemini getirdik
* ekleme fonksiyonumuzu degistirdik
* programimizi main adli ana bir fonksiyon olarak tanimladik cagirmayi kolaylastirdik.
* calismis oldugumuz DataFrame i islemlerimiz kaybolmamasi icin kaydetmeyi ogrendik.